<%- include('partials/_header.ejs') -%>
    <%- include('partials/_navigation.ejs') -%>
        <% if(user) { %>


            <div class="all-title-box">
                <div class="container text-center">
                    <h1>
                        <%= user.name %><span class="m_1" style="text-transform: uppercase;">
                                <%= user.role %>
                            </span>
                    </h1>
                </div>
            </div>
            <% if(flashMessages) { %>
                <% if(flashMessages.success) { %>

                    <div class="alert alert-success">
                        <%= flashMessages.success %>
                    </div>
                    <% } else if(flashMessages.error) { %>
                        <div class="alert alert-danger">
                            <%= flashMessages.error %>
                        </div>
                        <% } %>

                            <% } %>
                                <div id="overviews" class="section wb">
                                    <div class="container">

                                        <div class="section-title row text-center">

                                        </div><!-- end title -->

                                        <hr class="invis">

                                        <div class="row">
                                            <div class="h-100 d-flex align-items-center justify-content-center mx-auto"
                                                style="margin-top: -6rem;">
                                                <button class="btn btn-lg btn-warning rounded-0 text-white" href="#"
                                                    data-toggle="modal" data-target="#addCategory"><span>
                                                        CREATE CATEGORY</span></button>
                                            </div>

                                        </div><!-- end row -->
                                    </div><!-- end container -->
                                </div><!-- end section -->
                                <% if(user.role=='admin' ) { %>
                                    <div class="container">
                                        <h2>CATEGORIES</h2>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID#</th>
                                                    <th scope="col">name</th>
                                                    <th>...</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (let i=0; i< categories.length; i++) { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%=categories[i]._id %>
                                                        </th>
                                                        <td>
                                                            <%=categories[i].name %>
                                                        </td>

                                                        <td style="width: 30px">
                                                            <div class="user-chat-nav d-inline action-btn">
                                                                <div class="dropdown">
                                                                    <button class="btn nav-btn dropdown-toggle"
                                                                        type="button" data-toggle="dropdown"
                                                                        aria-haspopup="true" aria-expanded="false">
                                                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-end"
                                                                        aria-labelledby="dropdownMenuButton">
                                                                        <a type="button"
                                                                            onclick="return confirm('ARE YOU SURE')"
                                                                            href="/categories/<%= categories[i]._id %>?_method=DELETE"
                                                                            class="dropdown-item mb-1 text-danger">
                                                                            <i class="fa fa-trash"></i>
                                                                            Delete
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <!-- category add modal -->
                                                    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Create Category</h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/categories"
                                                                        class="form-horizantal">
                                                                        <div class="form-group">
                                                                            <label for="course-name">Category
                                                                                Name</label>
                                                                            <input type="text" class="form-control"
                                                                                name="name"
                                                                                placeholder="Enter Category name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="hidden" class="form-control"
                                                                                name="role">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="submit"
                                                                                class="btn btn-primary">Create</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } %>
                                        <% } %>

                                            <%- include('partials/_footer.ejs') -%>